body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
h1{
	font-size: 23px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	z-index: 9999999;
	cursor: pointer;
}
canvas {
  width: 100%;
  height: 100%;
}
audio{
	position: absolute;
	top: 0;
	left: 0;
}
body{
	color: white;
}
#name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%
}
#rcd{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%
}
#vince{
	opacity: 0;
}
#staples{
	opacity: 0;
}

#rain{
	opacity: 0;
}
#come{
	opacity: 0;
}

#down{
	opacity: 0;
}
